qw36-27b.bnna.dev {
	tls contact@bogdanna.dev
	@valid_key header Authorization "Bearer {$EDGE_API_KEY}"
	handle @valid_key {
		reverse_proxy qwen36-27b-router:8000 {
			header_up Authorization "Bearer {$SGLANG_API_KEY}"
			flush_interval -1
		}
	}
	handle {
		respond "Unauthorized" 401
	}
}

qw3-emb.bnna.dev {
	tls contact@bogdanna.dev
	@valid_key header Authorization "Bearer {$EDGE_API_KEY}"
	handle @valid_key {
		reverse_proxy qwen3-emb:80
	}
	handle {
		respond "Unauthorized" 401
	}
}
